.login-container {
  width: 100vw;
  height: 100vh;
}

/* Main form container */
.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.form-container form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
}

/* Title */
.form-container h1:first-child {
  margin-bottom: -20px;
}
/* Footer description */
.form-container p:last-child {
  margin-bottom: 30px;
}

.title-form-container {
  text-align: center;
}
@media (min-width: 600px) {
  .form-container form {
    width: 400px;
  }

  .title-form-container {
    width: 800px;
  }
}
