body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  nav a.active {
    font-weight: bold;
    color: royalblue;
  }
  
  @keyframes parpadeo-imagen {
    0%,
    100% {
      opacity: 1; /* Imagen completamente visible */
    }
    50% {
      opacity: 0; /* Imagen invisible */
    }
  }
  
  .img-warning {
    animation: parpadeo-imagen 1s infinite; /* La animación dura 1 segundo y se repite infinitamente */
  }
  